.card1 {
  /* display: inline-block; */
  width: 120px;
  height: 30px;
  margin: 10px;
  background-color: #f64c08;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.card1 h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}
