.projectDetails {
  border: 1px solid blue;
}

.card {
  margin-bottom: 30px;
  color: black;
  min-width: 336px !important;
  min-height: 286px !important;
  /* width: 30% !important; */
}
.card-btn {
  width: 40%;
  /* opacity: 0.9; */
  background-color: #f64c08 !important;
  transition: all 2s ease-in-out;
  /* margin */
}
.card-btn:hover {
  opacity: 0.9; /* margin */
}

.card-footer {
  display: flex;
  justify-content: space-around;
}

/* .card-body {
  position: relative;
} */
/* .card-btn {
  position: absolute;
  bottom: 10px;
} */
